<form class="form" action='/todo/{{id}}?_method=PUT' method='post'>
    <div class="form-group">
        <label for='title'>Title</label>
        <input type='text' class='form-control' value="{{title}}" id='title' name='title' placeholder="Enter a Todo">
    </div>
    {{description}}
    <div class="form-group">
        <label for='description'>Description</label>
        <textarea type='text' class='form-control' id='description' name='description' value="{{description}}"
            placeholder="Enter a description"></textarea>
    </div>
    <div class="form-group">
        <label for='Priority'>Priority</label>
        <select class="custom-select" selected="{{priority}}" id="inputGroupSelect04" name='priority'>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-danger">
        Update
    </button>
</form>